<div class="container">
    <h2>manager List</h2>
    <table class="table table-nonfluid">
      <thead>
        <th scope="col">#</th>
        <!-- TODO STEP 6 - Add Code and Name headers here. -->
        <th scope="col">Photo</th>
        <th scope="col">Name</th>
        <th scope="col">Suername</th>
        <th scope="col">Age</th>
        <th scope="col">Chief</th>
        <th scope="col"></th>
      </thead>
      <tbody>
        <tr *ngFor="let manager of managers">
          <th scope="row">{{manager.id}}</th>
          <th scope="row"><img src = {{manager.photo}} width="100" height="100"></th>
          <th scope="row">{{manager.name}}</th>
          <th scope="row">{{manager.surname}}</th>
          <th scope="row">{{manager.age}}</th>
          <th scope="row">{{manager.chiefId}}</th>
          <!-- TODO STEP 6 - Add code and name values here. -->
          <td>
            <span class="btn-toolbar" role="toolbar" aria-label="Hive action buttons" style="display: block; white-space:nowrap;">            
                <div class="btn-group mr-2" role="group" aria-label="Delete group"  (click)="onDelete(manager.id)">
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
              <div class="btn-group" role="group" aria-label="Edit group">
                <button routerLink="/manager/{{manager.id}}" type="button" class="btn btn-primary">Edit</button>
              </div>
              <!-- TODO STEP 6 - Add buttons here. -->
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="btn-toolbar" role="toolbar" aria-label="Action buttons">
      <div class="btn-group" role="group" aria-label="New group">
        <button routerLink="/manager" type="button" class="btn btn-primary">New manager</button>
      </div>
    </div>
  </div>
  
  